{% load staticfiles %}


<html lang="en">
<head>
  <meta charset="utf-8">

  <title></title>

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

{% include "common_javascript.html" %}
{% include "common_css.html" %}
</head>

<body>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}

</body>
</html>
