{% load staticfiles %}

<!-- This markup was taken from an older project of mine and is not new code, I do not know the full details of all the bootstrap classes here -->

 <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top ">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed glyphicon glyphicon-list" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand nav-center" href="/"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">

         <button type="button" class="btn btn-default"><li><a class="navbar-brand" href="/">Home</a></li></button>

        </ul>

        <ul class="nav navbar-nav">

          <button type="button" class="btn btn-default"><li><a class="navbar-brand" href="{% url 'stockman:stockman'%}">Stock Management</a></li></button>

        </ul>

        <ul class="nav navbar-nav">

               <button type="button" class="btn btn-default"><li><a class="navbar-brand" href="{% url 'stockstats:index'%}">Clinic Statistics</a></li></button>

        </ul>

        <ul class="nav navbar-nav">

          <button type="button" class="btn btn-default"><li><a class="navbar-brand" href="{% url 'stockman:clinicorders'%}">Clinic Restock</a></li></button>

        </ul>

        <ul class="nav navbar-nav navbar-right" style="margin-top: 15px">

          <button type="button" class="btn btn-success btn-lg btn-block">
               <a  href="{% url 'stockman:dilivery'%}"><i class="icon-truck icon-large icon-light"> Orders/Deliveries </i></a>
          </button>

        </ul>

     </div><!--/.nav-collapse -->
    </div>
  </nav>
