{% extends "base.html" %}
{% load static%}
{% block content %}
<div class="container">


  <div class="container">

    <div class=".col-xs-12 .col-sm-6 .col-lg-8">

      <div class="row">

        <div class="col-6 col-md-4">
           <button type="button" class="btn btn-warning btn-lg btn-block">
                <a  href="{% url 'stockman:stockman'%}"><i class="icon-medkit icon-large icon-light"> <h3> Stock Management</h3></i></a>
           </button>

        </div>

        <div class="col-6 col-md-4">
           <button type="button" class="btn btn-info btn-lg btn-block">
                <a  href="{% url 'stockstats:index'%}"><i class="icon-bar-chart icon-large icon-light"> <h3> Clinic Statistics</h3></i></a>
           </button>

        </div>

        <div class="col-6 col-md-4">
           <button type="button" class="btn btn-danger btn-lg btn-block">
                <a  href="{% url 'stockman:clinicorders'%}"><i class="icon-bolt icon-large icon-light"> <h3> Clinic Restock</h3></i></a>
           </button>

        </div>

      </div>

      <div class="columns large-12">

          <div>
             <h3 id = 'clinicRestockNameX' class='bg-info text-align-center intial'> Alerts: Restock Required</h3>
          </div>

          <table id = 'clinicRestockData' class="table table-striped intial">

            <tr>
              <th class = 'bg-success'>Clinic</th>
              <th class = 'bg-success'>Medication</th>
              <th class = 'bg-success text-align-center'>In Stock</th>
              <th class = 'bg-success text-align-center'>Ordered In Process</th>
            </tr>


          </table>

          <div>
             <p id = 'clinicRestockNameX' class='bg-info text-align-center intial'> - </p>
          </div>

<script type="text/javascript" src="{%static 'js/alerts.js'%}"></script>
</div>
{% endblock %}
