{% extends "base.html" %}
{% load static%}
{% block content %}
<div class="container">


<div class="container">
    <div class="row row-centered">
        <div col-xs-6 col-centered>
        <i class="text-align-center icon-truck icon-large icon-dark fa-4x"> <h3> Stock Orders</h3></i>
        <p>Recieved Medical Inventory , If the Order has been recieved : Please Submit the Order Reference to Mez-Meds and your stock Levels will Automatically be Updated</p>
        <hr>
        </div>

    </div>
</div>


  <div class="container">

    <div class=".col-xs-12 .col-sm-6 .col-lg-8">

      <div class="col-8 col-md-4 ">

          <form method="POST" id="orderMedsZ">
            {% csrf_token %}
             <label >Recieved Stock: Order Reference:</label>
             <input type="text" id ='stockvalue' placeholder="0..." />
             <input type="submit" id ='submit' value="Submit" />

           </form>

       </div>


          <br>
          <br>

          <div id = "successOrderMessage">
          </div>
          


        <div class="columns large-12">

             <table id = 'clinicOrderData' class="table table-striped intial">

              <tr>
                <th class = 'bg-success'>Order Reference</th>
                <th class = 'bg-success'>Clinic</th>
                <th class = 'bg-success text-align-center'>Date</th>
                <th class = 'bg-success text-align-center'>Medication</th>
                <th class = 'bg-success text-align-center'>Amount</th>
              </tr>


            </table>
    </div>

</div>

<script type="text/javascript" src="{% static 'js/dilivery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/alerts.js' %}"></script>
</div>
{% endblock %}
