{% extends "base.html" %}
{% load static%}
{% block content %}
<div class="container">


<div class="container">
    <div class="row row-centered">
        <div col-xs-6 col-centered>
        <i class="text-align-center icon-medkit icon-large icon-dark fa-4x"> <h3> Stock Management</h3></i>
        <p>Manage Your Medical Inventory , Please Select Your Clinic, Fill in Current Stock Levels and Submit to Mez-Meds.</p>
        <hr>
        </div>

    </div>
</div>


  <div class="container">

    <div class=".col-xs-12 .col-sm-6 .col-lg-8">



    <div class="row">

        <div class="col-8 col-md-4 ">
           <label >Please Select Clinic:</label>
           <select name ="clinicselected" id ="clinicListY" class = "chosen">

           </select>

        </div>

        <div class="col-8 col-md-4 ">
           <label >Please Select Medication:</label>
           <select name ="medsselected" id ="medsListX" class = "chosen">

           </select>

        </div>

        <div class="col-8 col-md-4 ">

            <form method="POST" id="orderMeds">
              {% csrf_token %}
               <label >In Stock</label>
               <input type="text" id ='stockvalue' placeholder="0..." />
               <input type="submit" id ='submit' value="Submit" />

             </form>

         </div>



    </div>

    <div class="columns large-12">

        <div id = 'clinicNameY' >
           <h3 id = 'clinicNameX' class='bg-info text-align-center'> STOCK </h3>
        </div>

        <table class="table table-striped ">

             <tr>
                <th class = 'bg-success'>Medication</th>
                <th class = 'bg-success'>In Stock</th>
                <th class = 'bg-success'>Used To date</th>
             </tr>

        </table>

        <table id = 'clinicData' class="table table-striped ">

          <tr>
            <th class = 'bg-success'>Medication</th>
            <th class = 'bg-success'>In Stock</th>
            <th class = 'bg-success'>Used To date</th>
          </tr>


        </table>

<br>
    </div>


</div>

<script type="text/javascript" src="{% static 'js/dropDownlists.js' %}"></script>
</div>
{% endblock %}
