{% extends "base.html" %}
{% load static%}
{% block content %}
<div class="container">


<div class="container">
    <div class="row row-centered">
        <div col-xs-6 col-centered>
        <i class="text-align-center icon-truck icon-large icon-dark fa-4x"> <h3> Stock Orders</h3></i>
        <p>Order Your Medical Inventory , Please Select Your Clinic, Select Medication and Order Amount :  Submit to Mez-Meds.</p>
        <hr>
        </div>

    </div>
</div>


  <div class="container">

    <div class=".col-xs-12 .col-sm-6 .col-lg-8">



    <div class="row">

        <div class="col-8 col-md-4 ">
           <label >Please Select Clinic:</label>
           <select name ="clinicselected" id ="clinicListY" class = "chosen">

           </select>

        </div>

        <div class="col-8 col-md-4 ">
           <label >Please Select Medication:</label>
           <select name ="medsselected" id ="medsListX" class = "chosen">

           </select>

        </div>

        <div class="col-8 col-md-4 ">

            <form method="POST" id="orderMedsZ">
              {% csrf_token %}
               <label >Order Amount</label>
               <input type="text" id ='stockvalue' placeholder="0..." />
               <input type="submit" id ='submit' value="Submit" />

             </form>

         </div>

        <div id = "successOrderMessage">
        </div>
        <br>

        <div class="columns large-12">

            <div>
               <h3 id = 'clinicRestockNameX' class='bg-info text-align-center intial'> Alerts: Restock Required</h3>
            </div>

            <table id = 'clinicRestockData' class="table table-striped intial">

              <tr>
                <th class = 'bg-success'>Clinic</th>
                <th class = 'bg-success'>Medication</th>
                <th class = 'bg-success text-align-center'>In Stock</th>
                <th class = 'bg-success text-align-center'>Ordered In Process</th>
              </tr>


            </table>
    </div>

</div>

<script type="text/javascript" src="{% static 'js/orders.js' %}"></script>
<script type="text/javascript" src="{% static 'js/alerts.js' %}"></script>
</div>
{% endblock %}
