{% extends "base.html" %}
{% load static%}
{% block content %}
<div class="container">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="container">
    <div class="row row-centered">
        <div col-xs-6 col-centered>
        <i class="text-align-center icon-bar-chart icon-large icon-dark fa-4x"> <h3> Stock Statistics</h3></i>
        <p> Please Select Your Clinic. To Produce a Graph for Medicine Usage for each Month of the Year</p>
        <hr>
        </div>

    </div>
</div>


  <div class="container">

    <div class=".col-xs-12 .col-sm-6 .col-lg-8">


    <div class="row">

        <div class="col-8 col-md-4 ">
           <label >Please Select Clinic:</label>
           <select name ="clinicselected" id ="clinicListY" class = "chosen">

           </select>

        </div>

        <div class="col-8 col-md-4 ">
           <div id ='clinicNameY'>
           </div>

        </div>



    </div>



    <div id='clinicData'>
    </div>

</div>


<script type="text/javascript" src="{% static 'js/graphs.js' %}"></script>
</div>
{% endblock %}
